.logo{
    display: flex;
    height:83px;
    align-items: center;
    justify-content: center;
    span{
        display: block;
        width: 177px;
        height:47px;
        background-color:#1a2d3f;
    }
}