.layout-wrap{
    height:100vh;
    .layout-header{
        position: relative;
        height:75;
        background-color: #fff;
        box-shadow: 0 3px 16px 0 rgba(0,0,0,.1);
    }
    .layout-content{
        border:30px solid #f7f7f7;
        background-color: #fff;
        padding:30px;
    }
}